<%= turbo_frame_tag "modal" do %>
  <div data-post-modal-target="container" data-action="click->post-modal#closeBackground keyup@window->post-modal#closeWithKeyboard"
      class="hidden animated fadeIn fixed inset-0 overflow-y-auto flex items-center justify-center"
      style="z-index: 9999;">
    <!-- Modal Inner Container -->
    <div class="max-w-lg max-h-screen w-full relative">
      <!-- Modal Card -->
      <div class="m-1 bg-white rounded shadow">

        <div class="px-4 py-5 border-b border-gray-200 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Post
          </h3>
        </div>
          <%= render partial: "form", locals: { post: @post } %>
      </div>
    </div>
  </div>
<% end %>