<div class="container mx-auto">
    <div class="mx-auto max-w-lg max-h-screen mt-8 w-full relative">
        <div class="m-1 bg-white rounded shadow-2xl">
            <%= render partial: "modal_form", locals: {post: @post} %>
        </div>        
    </div>
</div>

<div data-controller="swap-body" data-swap-body-match-value="edit" data-swap-body-url-value="/posts?skip_layout=yes"></div>