<!DOCTYPE html>
<html>
<head>
  <title>TurboModal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag "application" %>
  <%= javascript_pack_tag 'application', 'data-turbo-track': 'reload' %>

</head>

<body class="h-full font-sans antialiased font-normal leading-normal bg-gray-100">
<%= yield %>
</body>
</html>
